# A date of the form 8-MAR-85 includes the name of the month, which must be translated to a number.

In [6]:
date = "8-MAR-85"
date

'8-MAR-85'

## Create a dict suitable for decoding month names to numbers.

In [7]:
months = {"JAN":1, "FEB": 2, "MAR":3, "APR":4, "MAY": 5, "JUN": 6, "JUL":7, "AUG":8, "SEP":9, "OKT":10, "NOV":11, "DEC":12}
months

{'JAN': 1,
 'FEB': 2,
 'MAR': 3,
 'APR': 4,
 'MAY': 5,
 'JUN': 6,
 'JUL': 7,
 'AUG': 8,
 'SEP': 9,
 'OKT': 10,
 'NOV': 11,
 'DEC': 12}

## Create a function which uses string operations to split the date into 3 items using the "-" character.

In [8]:
def seperator(date):
    splits = date.split("-")
    return splits
    

print(seperator(date))

['8', 'MAR', '85']

## Translate the month and return a tuple.

In [9]:
def tuple_date(date):
    #result_1 = tuple(seperator(date)[0], months[seperator(date)[1]])
    result = (seperator(date)[0], months[seperator(date)[1]], seperator(date)[2])
    return result
print(tuple_date(date))

('8', 3, '85')

## The function will accept a date in the "dd-MMM-yy" format and respond with a tuple of ( y , m , d ).

In [10]:
def date_final(date):
    splits = date.split("-")
    result = (splits[2], months[splits[1]], splits[0])
    return result
print(date_final("17-NOV-99"))

('99', 11, '17')