In [8]:
import datetime
import pymysql

cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='Week1Day4')  

cursor = cnx.cursor()

query = ("SELECT ID, ADDRESS, NAME, salary FROM EMPLOYEE")

cursor.execute(query)

for (ID, address, name, salary) in cursor:
  print("{} with id: {}, lives at {} and is paid: {} DKK monthly".format(name, ID, address, salary))

cursor.close()
cnx.close()

Andreas Ukrudtsblomst with id: 1, lives at Pigevejen 40 and is paid: 100 DKK monthly
Martin Martinsen with id: 2, lives at Martinsensvej 1 and is paid: 1000 DKK monthly
William Housefield with id: 3, lives at weedstreet 420 and is paid: 300 DKK monthly
Asger Hermind with id: 4, lives at Trekroner 70 and is paid: 1000 DKK monthly

In [11]:
from __future__ import print_function

from decimal import Decimal
from datetime import datetime, date, timedelta

# Connect with the MySQL Server
cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='test')  
cursor = cnx.cursor()

curA = cnx.cursor()
curB = cnx.cursor()

# Query to get employees who joined in a period defined by two dates
query = ("SELECT id, salary FROM pythondemo WHERE enddate IS NULL")

# UPDATE and INSERT statements for the old and new salary
update_old_salary = (
  "UPDATE pythondemo SET salary = %s "
  "WHERE id = %s")

# Select the employees getting a raise (all that are still employed)
curA.execute(query)

# Iterate through the result of curA
for (id, salary) in curA:
  # Update the old and insert the new salary
  new_salary = int(round(Decimal(salary) * Decimal('1.15')))
  curB.execute(update_old_salary, (new_salary, id))
  # Commit the changes
  cnx.commit()
cursor.close()
curA.close()
curB.close()
cnx.close()

In [94]:
cnx = pymysql.connect(user='dev', password='ax2',host='127.0.0.1',port=3307,db='test') 

### Mit forsøg på en løsning, virker ikke da der er ' tegn i det første argument
cursor = cnx.cursor() 
#query = ("INSERT INTO pythondemo %s VALUES %s")
# 'startdate' : '02-02-1999', 'enddate' : '02-02-1999',
people = {'firstname' : 'Willi', 'lastname' : 'Housefield', 'salary' : '12345'} 
#keys = ', '.join(people.keys())
#values = tuple(people.values())
#cursor.execute(query, (keys, values))
#cnx.commit()


#cursor.execute(query)
#cursor.fetchall()

keys = ', '.join(people.keys())
values = tuple(people.values())
insert_str = 'INSERT INTO pythondemo ({keys}) VALUES {values}'.format(keys=keys, values=values)
cursor.execute(insert_str)
cnx.commit()
cursor.close()

In [95]:
import pandas as pd 
import pymysql
from sqlalchemy import create_engine

con_str = 'mysql+pymysql://dev:ax2@localhost:3307/test'
engine = create_engine(con_str)

# Her for neden var den løsning der blev fremvist. Synes løsningen var ret dårlig
# da der er meget man selv skal skrive, og det virkede helt fint bare selv at 
#copiere dataen ind i en csv fil og derfra læse det til sql.
#df = pd.DataFrame({'make': ['vw', 'audi', 'citroen'], 'model': ['up', 'a6', 'c3'],
#'year': ['2018', '2011', '2019'], 'price': ['123000', '85000', '143000']})
#df.to_csv('cars.csv')
csv = pd.read_csv('cars2.csv')

csv.to_sql('cars', con = engine, if_exists = 'append', index = False)